*{
    background: #121212;
    font-family: "Times New Roman"
}

.questionBox {
    background: #332940;
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
    padding: 20px;
    margin-left: 8%;
    margin-top: 2%;
    color: white;
    font-size: 24px;
    text-align: center;
}
.questionNumber {
    background: inherit;
}
.question {
    color: white;
    font-size: 50px;
    text-align: center;
    background: inherit;
}
.answer {
    position: absolute;
    margin-left: 12%;
    margin-top: 5%;
    text-align: center;
    background: #192734;
    color: white;
    font-size: 36px;
    width: 50vw;
    height: 10vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}