*{
    background: #121212;
    font-family: "Times New Roman"
}

.questionBox {
    background: #332940;
    width: 80vw;
    height: 50vh;
    border-radius: 10px;
    padding: 20px;
    margin-left: 8%;
    margin-top: 2%;
    color: white;
    font-size: 24px;
    text-align: center;
}
.question {
    color: white;
    font-size: 24px;
    text-align: center;
}