*{
    background: #121212;
    font-family: "Times New Roman"
}

.questionBox {
    background: #332940;
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
    padding: 20px;
    margin-left: 8%;
    margin-top: 2%;
    color: white;
    font-size: 30px;
    text-align: center;
}
.questionNumber {
    background: inherit;
}
.score {
    margin-top: -4%;
    background: inherit;
    text-align: right;
}
.question {
    color: white;
    font-size: 50px;
    text-align: center;
    background: inherit;
}
.answers {
    display: inline;
    margin-top: 5%;
}
.answer1 {
    position: absolute;
    margin-left: 25%;
    margin-bottom: 30px;
    margin-top: 5%;
    text-align: center;
    background: #008b8b;
    color: white;
    font-size: 30px;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
}
.answer2 {
    position: absolute;
    margin-left: 25%;
    margin-bottom: 30px;
    margin-top: 12%;
    text-align: center;
    background: #008b8b;
    color: white;
    font-size: 30px;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
}
.answer3 {
    position: absolute;
    margin-left: 25%;
    margin-bottom: 30px;
    margin-top: 19%;
    text-align: center;
    background: #008b8b;
    color: white;
    font-size: 30px;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
}